body{
    background-color: black;
}

h1{
    color:khaki ;
}

.bigBox{
    width: 80%;
    height: 20rem;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    margin: auto;
    margin-top: 5rem;
}